<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rubby">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightBlueTheme">
        <activity android:name=".Activities.AppCompatActivities.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AppCompatActivities.AccountEditActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.AppCompatActivities.SecurityActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Activities.AppCompatActivities.PersonalizationActivity" />
        <activity android:name=".Activities.AppCompatActivities.NotificationsActivity" />
        <activity android:name=".Activities.AppCompatActivities.NetworkActivity" />
        <activity android:name=".Activities.AppCompatActivities.StorageActivity" />
        <activity android:name=".Activities.AppCompatActivities.MoreActivity" />
        <activity android:name=".Activities.AppCompatActivities.PromotionsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.AppCompatActivities.PasswordRequestActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>